.register {
  padding: 10px 20px 10px 20px;
  background-color: #E5E7E5;
  border-radius: 5px;
  border-style: groove;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1em;
  width: 15%;
}

button {
  padding: 10px;
  background-color: #E5E7E5;
  border-radius: 5px;
  border-style: groove;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1em;
  width: 15%;
  margin: 10px;

}
