


input {
  display: block;
  padding: 10px;
  border-radius: 5px;
  opacity: .8;
}
div {
  margin-left: 500px;
}

label {
  font-size: 1em;
  font-family: 'Fjalla One', sans-serif;
}
nav {
  margin-left: 310px;
}
