
<body class="index">

<h1>Create Your New Memo!</h1>

<nav>
  <a href="#" class="start-button" id="start_button" onclick="startDictation(event)"><button type="button" name="button">DICTATE</button></a>
  <button type="button" name="button" id="save">SAVE MEMO</button>
  <a href="/login"><button type="button" class="logout-button" name="button">LOG OUT</button></a>
  <a href="/show"><button type="button" class="view-button" name="button">VIEW MEMOS</button></a>
</nav>


<div id="results">
  <span id="final_span" class="final"></span>
  <span id="interim_span" class="interim"></span>
</div>
<script type="text/javascript" src='/javascripts/client.js'>
</script>

</body>
