<form class="" action="index.html" method="post">
  <label for="name">Username
  <input type="" name="name" value=""></label>
  <label for="Password">
  <input type="" name="name" value=""></label>
  <input type="submit" name="name" value="">

</form>
