<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  <title></title>
</head>
<body>
  <h2>Register</h2>
  <div class="nav">
  <form action='/register' method='post'>
    <label for="email">Email
      <input type="text" id='email' name='email'>
    </label><br>
    <label for="password">Password
      <input type="password" id='password' name='password' value=''>
    </label>
      <a href="/index"><button type="button" class="register" name="button" id="">REGISTER NOW</button></a>
  </form>
</div>
</body>
</html>
